{% extends "base.html" %}


{% block content %}

<div class="row">

<div class="small-12 columns">
  <h6><em>{{ allot.field_office.state.name|upper }}</em></h6>
  <h3> THE {{ allot.allotment_name }} ALLOTMENT </h3>
  <div id="allotment_map"></div>
</div>

<h3> Land Health Status:</h3>
{% for h in health %}

<p> {{ h.lhs }} </p>

{% endfor %}

<h3> Ranchers who use this allotment: </h3>
{% for o in operators %}

<p>{{ o}}</p>
<br/>
{% for a in o.auth_no.all %}

  <p> Permits under Auth No {{ a }}: {{ a.permit_set.count }} <p/>

    <br />
  <!-- {% for p in a.permit_set.all %}

    {{ p.count }}

  {% endfor %} -->

{% endfor %}
<hr />
{% endfor %}

</div>
{% endblock %}
